<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deveagles.be15_deveagles_be.features.todolist.query.domain.repository.TodoQueryRepository">

    <select id="selectTodoDetail"
            resultType="com.deveagles.be15_deveagles_be.features.todolist.query.application.dto.response.TodoDetailResponse">
        SELECT
        todo_id AS todoId,
        user_id AS userId,
        team_id AS teamId,
        content,
        start_date AS startDate,
        due_date AS dueDate,
        completed_at IS NOT NULL AS isCompleted
        FROM
        todos
        WHERE
        todo_id = #{todoId}
        AND user_id = #{userId}
    </select>

</mapper>
